In [12]:
#Create product information 
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 125.67

In [2]:
#Create company infor
company_name = "mashster.inc"
company_address = "311 Reed St"
company_city = "tuscaloosa, AL"

In [3]:
#declare ending message
message = "thanks for shopping with us"

In [5]:
#create top border
print("*"*50)

**************************************************

In [6]:
#print company information first
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

		Mashster.Inc
		311 Reed St
		tuscaloosa, AL

In [7]:
#print a line between sections
print("="*50)

==================================================

In [10]:
#display product info
print("\tProduct Name\tProduct Price")

	Product Name	Product Price

In [15]:
#print statement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

	Books		$49.95
	Computer		$579.99
	Monitor		$125.67

In [16]:
#print line between sections
print("="*50)

==================================================

In [17]:
#print out header
print("\t\t\tTotal")

			Total

In [18]:
#calculate total price & printout
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

			$755.61

In [19]:
#print a line between sections
print("="*50)

==================================================

In [20]:
#output thank you message
print("\n\t{}\n".format(message))

	thanks for shopping with us

In [21]:
#create bottom border
print("*"*50)

**************************************************