In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('Desktop/Desktop/simpson_data_prototype.xlsx')
df = pd.DataFrame(data)
df

  Species   C1   C2
0       A  325  925
1       B  305   40
2       C  370   35

In [3]:
sddata = np.array(df)
sddata

array([['A', 325, 925],
       ['B', 305, 40],
       ['C', 370, 35]], dtype=object)

In [4]:
C1 = sddata[:,1]
C1den = sum(C1)

C2 = sddata[:,2]
C2den = sum(C2)

In [5]:
# SDI = 1 - sum((C1num/C1den)^2)

In [8]:
def simpson_diversity_index():
    clist = []
    for i in (0,2,1):
        C1num = sddata[i,2]
        C = (C1num/C1den)**2
        clist.append(C)
    SDI = 1 - sum(clist)
    return SDI

In [9]:
simpson_diversity_index()

0.14154999999999984